/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

/** btn modifier en dessous la photo **/
.modifierSpan {
	display: flex;
	width: 80%;
	padding-top: 17px;
	gap: 0.5rem;
	align-items: flex-end;
}

.photoBtnModifier {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modifierPhoto {
	font-size: 1rem;
}

/** Btn modifier pour les projets **/
#myBtn {
	border: none;
	background-color: white;
	color: #000000;
}

#myBtn:hover {
	cursor: pointer;
}

.blokModifier {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/** nav publier **/
.publier {
	display: none;
}

.publier.show {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 10px 0 10px 0;
	background-color: black;
}

.modifierPublier {
	color: #FFFFFF;
	display: flex;
	gap: 0.5rem;
}

.btnPublier {
	border-color: #FFFFFF;
	border: none;
	font-size: 1em;
}

.btnPublier:hover {
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}



#btnAll,
button {
	border-radius: 60px;
	border-color: #1D6154;
	padding: 5px 20px 5px 20px;
}

#btnAll:hover {
	background-color: rgba(29, 97, 84, 1);
	color: #FFFFFF;
}

button:hover {
	background-color: rgba(29, 97, 84, 1);
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/***********Log in**********/
#log {
	width: 50%;
	margin: auto;
}

#log>* {
	text-align: center;
}

#log h2 {
	margin-bottom: 20px;
}

#log form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#log input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#log label {
	margin: 2em 0 1em 0;
}

#log textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#login {
	color: #000000;
	text-decoration: none;
}

/*********modale***********/
.categoriesNav {
	display: none;
}

/* .categoriesNav {
	display: flex;
	justify-content: center;
	gap: 2rem;
} */
.categoriesNav.show {
	display: flex;
	justify-content: center;
}

.categoriesNav article {
	margin: 0 20px;
}

.categoriesNav button {
	font-size: 1em;
	font-weight: bold;
	color: #1D6154;
	background-color: #FFFFFF;
	border-color: #1D6154;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.categoriesNav button:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 15px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	text-align: -webkit-center;
}

/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	background-color: #fefefe;
	margin: auto;
	padding: 45px;
	border: 1px solid #888;
	width: 41%;
	border-radius: 10px;
	margin-bottom: 50px;
}

/*Modal Header*/
.modalHeader {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

/*titre modale*/
.modalTitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-size: 2rem;
	color: rgba(0, 0, 0, 1);
	width: 100%;
	text-align: center;
}

/* The Close Button */
.close {
	font-size: 1rem;
	font-weight: bold;
}

.fa-solid .fa-xmark {
	visibility: visible;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.galleryModal {
	width: 85%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
}

.galleryModal img {
	width: 100%;

}

.btnSupprimer {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #000000;
	padding: 6px;
	border-radius: 3px;
}

figure {
	position: relative;
}

.btnModal {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 45%;
}

.ajoutPhoto {
	background-color: #1D6154;
	color: rgba(255, 255, 255, 1);
	border: none;
	padding: 10px 20px 10px 20px;
}

.supprimer {
	background: transparent;
	color: #D65353;
	border: none;
}

.supprimer:hover {
	background-color: transparent;
	color: #D65353;
}

.separateur {
	border: 1px solid #B3B3B3;
	width: 95%;
	position: relative;
	border-radius: 30px;
	top: 20px;
}

/** Modale 2 **/
#modalContent2 {
	display: flex;
}

.formModal {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 83%;
}



.modal2Header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.backButton {
	font-size: 1rem;
}

.backButton:hover {
	cursor: pointer;
}

.labelTitreAjout {
	text-align: left;
	font-weight: bold;
}

.titlePhotoUpload {
	padding: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

.labelSelect {
	text-align: left;
	font-weight: bold;
}

.select {
	padding: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	background-color: #FFFFFF;
	width: 100%;
}

.input-file-container {
	background-color: #E8F1F7;
	padding: 16px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-file-label {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
}

.input-file-label .input-file-text {
	margin-top: 8px;
}

.input-file-label .input-file-icon {
	font-size: 3rem;
}

.input-file {
	display: none;
}

.input-file-hint {
	margin-top: 8px;
	font-size: 14px;
	color: #777;
}

.input-file-button {
	background-color: #CBD6DC;
	border: none;
}

.input-file-button:hover {
	color: #000000;
}

.separateur2 {
	border: 1px solid #B3B3B3;
	width: 100%;
	position: relative;
	border-radius: 30px;
	top: 10px;
}

.btnAjout {
	border: none;
	background-color: #CBD6DC;
}